# Analysis of NYSE and NASDAQ stocks

1. Summarize needed data points

In [4]:
# Import libraries
import yfinance as yf
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from pandasql import sqldf

In [5]:
# Set options
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.2f}'.format)

In [28]:
# Read NYSE and NASDAQ stock tickers 
tickers = pd.read_csv('/home/salohuddin/Desktop/pandas/product_details/yahoo_finance/nasdaq_nyse_tickers.csv')
tickers = tickers['Symbol'].str.lower()

In [94]:
# Download data and Create a dataframe for combining all the tickers with new feature columns

columns = ['Symbol', 'Volume mean', 'Volume std', 'Volume Change (%)', 'Volume Change std', 'Close Change (%) mean', 'Close Change (%) std', 'Adj Close Change (%) mean', 'Adj Close Change (%) std', 'first_close_price', 'last_close_price', 'first_trade_date', 'last_trade_date']
all_tickers = pd.DataFrame(columns=columns) 
for ticker in tickers:
    try:
        ticker_data = pd.read_csv(f'~/Desktop/pandas/product_details/yahoo_finance/tickers_data/{ticker.lower()}.csv')
        if ticker_data['Date'].iloc[0] < ('2020-01-01'):
            ticker_data = ticker_data[ticker_data['Volume'] != 0]
            # Create new feature columns

            # Compute the difference between open and close prices
            ticker_data['open_close_diff'] = ticker_data['Open'] - ticker_data['Close']

            # Compute the difference between high and low prices
            ticker_data['high_low_diff'] = ticker_data['High'] - ticker_data['Low']

            # Compute difference between open and adj close prices
            ticker_data['open_adjClose_diff'] = ticker_data['Open'] - ticker_data['Adj Close']

            # Compute the Close price change (%)
            ticker_data['Close Change (%)'] = (ticker_data['Close'] - ticker_data['Close'].shift(1)) / ticker_data['Close'].shift(1) * 100

            # Compute the Adj CLose price change (%)
            ticker_data['Adj Close Change (%)'] = (ticker_data['Adj Close'] - ticker_data['Adj Close'].shift(1)) / ticker_data['Adj Close'].shift(1) * 100
    
            # Compute the Volume Change (%)
            ticker_data['Volume Change (%)'] = round((ticker_data['Volume'] - ticker_data['Volume'].shift(1)) / ticker_data['Volume'].shift(1) * 100, 6)
            # Fill in the dataframe with the stock summary statistics

            dictionary = {}
            dictionary['Symbol'] = ticker.lower()
            dictionary['Volume mean'] = ticker_data['Volume'].mean()
            dictionary['Volume std'] = round(ticker_data['Volume'].std(), 6)
            dictionary['Volume Change (%)'] = ticker_data['Volume Change (%)'].mean()
            dictionary['Volume Change std'] = round(ticker_data['Volume Change (%)'].std(), 6)
            dictionary['Close Change (%) mean'] = ticker_data['Close Change (%)'].mean()
            dictionary['Close Change (%) std'] = round(ticker_data['Close Change (%)'].std(), 6)
            dictionary['Adj Close Change (%) mean'] = ticker_data['Adj Close Change (%)'].mean()
            dictionary['Adj Close Change (%) std'] = round(ticker_data['Adj Close Change (%)'].std(), 6)
            dictionary['first_close_price'] = ticker_data['Close'].iloc[0]
            dictionary['last_close_price'] = ticker_data['Close'].iloc[-1]
            dictionary['first_trade_date'] = ticker_data['Date'].iloc[0]
            dictionary['last_trade_date'] = ticker_data['Date'].iloc[-1]
            all_tickers.loc[len(all_tickers)] = dictionary
    except Exception as e:
        pass

In [120]:
all_tickers

,Symbol,Volume mean,Volume std,Volume Change (%),Volume Change std,Close Change (%) mean,Close Change (%) std,Adj Close Change (%) mean,Adj Close Change (%) std,first_close_price,last_close_price,first_trade_date,last_trade_date
0,a,3384697.95,2410604.66,9.32,54.76,0.06,2.63,0.06,2.63,31.47,139.03,1999-11-18,2023-12-29
1,aa,2866906.32,4396697.19,19.51,113.83,0.04,2.32,0.05,2.32,6.55,34.00,1962-01-02,2023-12-29
2,aaic,156402.57,243534.30,37.55,469.87,0.03,4.61,0.06,4.60,410.00,4.84,1997-12-23,2023-12-13
3,aap,1212926.50,1044195.24,14.42,85.82,0.05,2.15,0.05,2.15,13.88,61.03,2001-11-29,2023-12-29
4,aat,261463.49,359332.21,17.29,86.58,0.02,1.80,0.03,1.80,21.25,22.51,2011-01-13,2023-12-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3964,zs,2323665.43,1790349.81,11.37,61.94,0.20,3.86,0.20,3.86,33.00,221.56,2018-03-16,2023-12-29
3965,zumz,431514.70,409144.06,16.96,99.29,0.07,3.49,0.07,3.49,12.44,20.34,2005-05-06,2023-12-29
3966,zvra,259607.14,1516644.89,40.42,275.34,0.00,5.50,0.00,5.50,179.20,6.55,2015-04-16,2023-12-29
3967,zyme,474877.32,1110419.13,55.70,1088.00,0.07,4.10,0.07,4.10,13.00,10.39,2017-04-28,2023-12-29
3968,zyxi,148518.88,332786.48,363.56,3933.47,0.32,7.58,0.34,7.68,2.56,10.89,2004-02-25,2023-12-29

In [54]:
# Import company profile data for all the stocks
all_stocks = pd.read_csv('/home/salohuddin/Desktop/pandas/product_details/yahoo_finance/nasdaq_tickers.csv')
all_stocks['Symbol'] = all_stocks['Symbol'].str.lower()

In [55]:
# Join Industry and Sector info 
all_tickers = pd.merge(all_tickers, all_stocks[['Symbol', 'Sector', 'Industry']], how='left', on='Symbol')

2. Prepare the data for analysis

In [122]:
# Check for duplicates
all_tickers[all_tickers.duplicated()]

,Symbol,Volume mean,Volume std,Volume Change (%),Volume Change std,Close Change (%) mean,Close Change (%) std,Adj Close Change (%) mean,Adj Close Change (%) std,first_close_price,last_close_price,first_trade_date,last_trade_date,Sector,Industry
93,amrx,1308596.06,1672660.87,18.00,119.79,0.04,4.60,0.04,4.60,15.01,6.07,2018-05-07,2023-12-29,Health Care,Biotechnology: Pharmaceutical Preparations
2125,amrx,1308596.06,1672660.87,18.00,119.79,0.04,4.60,0.04,4.60,15.01,6.07,2018-05-07,2023-12-29,Health Care,Biotechnology: Pharmaceutical Preparations
2126,amrx,1308596.06,1672660.87,18.00,119.79,0.04,4.60,0.04,4.60,15.01,6.07,2018-05-07,2023-12-29,Health Care,Biotechnology: Pharmaceutical Preparations

In [123]:
# Drop duplicates
all_tickers.drop_duplicates(inplace=True)

In [124]:
# Check for null values
all_tickers[all_tickers.isna().any(axis=1)]

,Symbol,Volume mean,Volume std,Volume Change (%),Volume Change std,Close Change (%) mean,Close Change (%) std,Adj Close Change (%) mean,Adj Close Change (%) std,first_close_price,last_close_price,first_trade_date,last_trade_date,Sector,Industry
28,aefc,83271.89,186225.74,22.22,88.13,0.01,2.08,0.03,2.07,25.45,21.74,2019-10-24,2023-12-29,NaN,NaN
31,aem,916202.89,1326300.12,26.76,128.07,0.07,3.12,0.07,3.12,3.88,54.85,1973-02-21,2023-12-29,NaN,NaN
96,amtd,186439.57,1478824.27,416.35,8022.04,-0.06,9.29,-0.06,9.29,60.54,1.80,2019-08-05,2023-12-29,NaN,NaN
103,aort,158920.98,244130.64,52.90,458.76,0.10,4.12,0.10,4.12,4.00,17.88,1993-02-12,2023-12-29,NaN,NaN
186,bb,15630868.23,20175029.04,15.75,101.28,0.10,4.27,0.10,4.27,1.92,3.54,1999-02-04,2023-12-29,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2975,kgei,5302.92,18443.25,1001.93,6341.94,0.22,7.37,0.22,7.37,13.40,3.75,2010-01-05,2023-12-29,NaN,NaN
3364,pdlb,47631.86,122393.89,65.21,252.35,0.02,2.35,0.02,2.35,10.68,9.76,2017-10-02,2023-12-29,NaN,NaN
3595,sgly,164759.28,1057577.35,223.94,1294.05,0.14,7.98,0.14,7.98,69.90,0.54,2008-05-21,2023-12-29,NaN,NaN
3951,xxii,137644.01,634075.13,69.01,441.59,0.13,7.62,0.13,7.62,19.50,0.19,2011-01-26,2023-12-29,NaN,NaN
3955,yten,68526.99,1226100.23,176.77,3553.21,-0.04,7.30,-0.04,7.30,37248.00,0.24,2006-11-10,2023-12-29,NaN,NaN

Sector and Industry have null values. Nasdaq data comes with this issue. Those null values need to be filled with data from Yahoo Finace.

In [56]:
# Collect stock symbols with null sector values
sector_null_stocks = all_tickers[all_tickers.isna().any(axis=1)]['Symbol']
sector_null_stocks = sector_null_stocks[~sector_null_stocks.isna()]
sector_null_stocks = list(sector_null_stocks)

In [57]:
# Download sector and industry data for stocks missing such data 
sect_ind_null_stocks = pd.DataFrame(columns=['Symbol', 'sector', 'industry'])
stock_sect_ind = {}

for stock in sector_null_stocks:
    ticker = yf.Ticker(stock.upper()).info
    try:
        stock_sect_ind['Symbol'] = stock
        stock_sect_ind['sector'] = ticker['sector']
        stock_sect_ind['industry'] = ticker['industry']
        sect_ind_null_stocks.loc[(len(sect_ind_null_stocks))] = stock_sect_ind
    except KeyError:
        pass

In [58]:
# Fill in null values in Sector and Industry with new downloaded data
all_tickers = pd.merge(all_tickers, sect_ind_null_stocks, how='left', on='Symbol')
all_tickers['Industry'] = all_tickers['Industry'].fillna(all_tickers['industry'])
all_tickers['Sector'] = all_tickers['Sector'].fillna(all_tickers['sector'])

In [59]:
# Drop temporary columns
all_tickers.drop(columns=['sector', 'industry'], inplace=True)

In [60]:
# Recheck for null values
all_tickers[all_tickers['Sector'].isna()]

,Symbol,Volume_mean,Volume_std,Volume_Change_perc,Volume_Change_std,Close_Change_perc_mean,Close_Change_perc_std,Adj_Close_Change_perc_mean,Adj_Close_Change_perc_std,first_close_price,last_close_price,first_trade_date,last_trade_date,Sector,Industry
28,aefc,83271.89,186225.74,22.22,88.13,0.01,2.08,0.03,2.07,25.45,21.74,2019-10-24,2023-12-29,NaN,NaN
616,emp,549226.02,2478957.72,110695.17,2824987.51,25.44,144.95,25.44,144.95,110.00,22.16,2000-01-03,2023-12-29,NaN,NaN
1260,NaN,28940.95,31558.01,48.00,311.00,-0.00,0.82,0.02,0.82,15.00,11.04,1999-05-26,2023-12-29,NaN,NaN

In [62]:
all_tickers.dropna(inplace=True)

In [65]:
# Calculate volatility by annualazing standard deviation
all_tickers['Volatility'] = all_tickers['Close Change (%) std'] / 100 * np.sqrt(252)

In [68]:
all_tickers

,Symbol,Volume_mean,Volume_std,Volume_Change_perc,Volume_Change_std,Close_Change_perc_mean,Close_Change_perc_std,Adj_Close_Change_perc_mean,Adj_Close_Change_perc_std,first_close_price,last_close_price,first_trade_date,last_trade_date,Sector,Industry,Volatility
0,a,3384697.95,2410604.66,9.32,54.76,0.06,2.63,0.06,2.63,31.47,139.03,1999-11-18,2023-12-29,Industrials,Electrical Products,0.42
1,aa,2866906.32,4396697.19,19.51,113.83,0.04,2.32,0.05,2.32,6.55,34.00,1962-01-02,2023-12-29,Industrials,Aluminum,0.37
2,aaic,156402.57,243534.30,37.55,469.87,0.03,4.61,0.06,4.60,410.00,4.84,1997-12-23,2023-12-13,Real Estate,Real Estate Investment Trusts,0.73
3,aap,1212926.50,1044195.24,14.42,85.82,0.05,2.15,0.05,2.15,13.88,61.03,2001-11-29,2023-12-29,Consumer Discretionary,Auto & Home Supply Stores,0.34
4,aat,261463.49,359332.21,17.29,86.58,0.02,1.80,0.03,1.80,21.25,22.51,2011-01-13,2023-12-29,Real Estate,Real Estate Investment Trusts,0.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3966,zs,2323665.43,1790349.81,11.37,61.94,0.20,3.86,0.20,3.86,33.00,221.56,2018-03-16,2023-12-29,Technology,EDP Services,0.61
3967,zumz,431514.70,409144.06,16.96,99.29,0.07,3.49,0.07,3.49,12.44,20.34,2005-05-06,2023-12-29,Consumer Discretionary,Clothing/Shoe/Accessory Stores,0.55
3968,zvra,259607.14,1516644.89,40.42,275.34,0.00,5.50,0.00,5.50,179.20,6.55,2015-04-16,2023-12-29,Health Care,Biotechnology: Pharmaceutical Preparations,0.87
3969,zyme,474877.32,1110419.13,55.70,1088.00,0.07,4.10,0.07,4.10,13.00,10.39,2017-04-28,2023-12-29,Health Care,Biotechnology: Pharmaceutical Preparations,0.65
3970,zyxi,148518.88,332786.48,363.56,3933.47,0.32,7.58,0.34,7.68,2.56,10.89,2004-02-25,2023-12-29,Health Care,Biotechnology: Electromedical & Electrotherape...,1.20

In [37]:
# Rename column names before 
columns_to_rename = all_tickers.columns

# Create a dictionary with the old and new column names
columns_mapping = {col: col.replace('(%)', 'perc').replace(' ', '_') for col in columns_to_rename}

# Rename the columns in the DataFrame
all_tickers.rename(columns=columns_mapping, inplace=True)

In [96]:
all_tickers = pd.read_csv('stocks_summary.csv')

In [77]:
# PostgreSQL connection parameters
username = 'postgres'
password = 'password'
host = 'localhost'
port = '5432'
database_name = 'postgres'

# Construct the connection string
connection_string = f'postgresql://{username}:{password}@{host}:{port}/{database_name}'

# Connect to PostgreSQL database
engine = create_engine(connection_string, echo=False)

# Insert into PostgreSQL database
all_tickers.to_sql('all_tickers', engine, index=False, if_exists='replace')

# Load magic sql
%load_ext sql
%sql $connection_string

In [78]:
%sql SELECT * FROM all_tickers LIMIT 5

 * postgresql://postgres:***@localhost:5432/postgres
5 rows affected.

[('a', 3384697.952694907, 2410604.663292, 9.322874047477743, 54.761335, 0.0586969811086128, 2.632186, 0.0614040918869927, 2.631886, 31.473533630371094, 139.02999877929688, '1999-11-18', '2023-12-29', 'Industrials', 'Electrical Products', 0.41784657362795163),
 ('aa', 2866906.322012176, 4396697.19442, 19.51489776089464, 113.828217, 0.0374992887828704, 2.320692, 0.0468828010189742, 2.320417, 6.5456719398498535, 34.0, '1962-01-02', '2023-12-29', 'Industrials', 'Aluminum', 0.36839843409462647),
 ('aaic', 156402.5707070707, 243534.299461, 37.54594711495485, 469.868027, 0.0338992541926571, 4.609884, 0.060459421314609, 4.596746, 410.0, 4.840000152587891, '1997-12-23', '2023-12-13', 'Real Estate', 'Real Estate Investment Trusts', 0.7317963982113408),
 ('aap', 1212926.4975715056, 1044195.237261, 14.421143255487587, 85.815381, 0.0500816571256643, 2.14693, 0.052404395358303, 2.146623, 13.880000114440918, 61.02999877929688, '2001-11-29', '2023-12-29', 'Consumer Discretionary', 'Auto & Home Supply Stores', 0.34081457173583407),
 ('aat', 261463.4886572655, 359332.20912, 17.293528474394357, 86.581915, 0.0182565944776838, 1.804355, 0.0311695848177096, 1.801516, 21.25, 22.51000022888184, '2011-01-13', '2023-12-29', 'Real Estate', 'Real Estate Investment Trusts', 0.2864324764125569)]

In [83]:
# Create a new column that calculates that percentage growth of stock's price since the first day of trading
%sql ALTER TABLE all_tickers ADD COLUMN "all_time_growth_perc" FLOAT

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [84]:
%sql UPDATE all_tickers SET "all_time_growth_perc" = ROUND((("last_close_price" / "first_close_price" - 1) * 100)::numeric, 2)

 * postgresql://postgres:***@localhost:5432/postgres
3968 rows affected.

[]

In [85]:
# Round all numeric columns to two decimal places
%sql UPDATE all_tickers SET "Volume_mean" = ROUND("Volume_mean"::numeric, 2), "Volume_std" = ROUND("Volume_std"::numeric, 2), "Volume_Change_perc" = ROUND("Volume_Change_perc"::numeric, 2), "Volume_Change_std" = ROUND("Volume_Change_std"::numeric, 2), "Close_Change_perc_mean" = ROUND("Close_Change_perc_mean"::numeric, 2), "Close_Change_perc_std" = ROUND("Close_Change_perc_std"::numeric, 2), "Adj_Close_Change_perc_mean" = ROUND("Adj_Close_Change_perc_mean"::numeric, 2), "Adj_Close_Change_perc_std" = ROUND("Adj_Close_Change_perc_std"::numeric, 2), "first_close_price" = ROUND("first_close_price"::numeric, 2), "last_close_price" = ROUND("last_close_price"::numeric, 2), "Volatility" = ROUND("Volatility"::numeric, 2), "all_time_growth_perc" = ROUND("all_time_growth_perc"::numeric, 2);

 * postgresql://postgres:***@localhost:5432/postgres
3968 rows affected.

[]

In [95]:
# Find the ten stocks that have grown the most since the first day of trade

%sql SELECT "Symbol", TO_CHAR(CAST("all_time_growth_perc" AS FLOAT), '9,999,999') || '%' AS growth_rate, "first_trade_date", "Sector" FROM all_tickers ORDER BY "all_time_growth_perc" DESC LIMIT 10

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('hd', ' 1,155,259%', '1981-09-22', 'Consumer Discretionary'),
 ('msft', '   386,685%', '1986-03-13', 'Technology'),
 ('unh', '   364,161%', '1984-10-17', 'Health Care'),
 ('syk', '   310,379%', '1980-03-17', 'Health Care'),
 ('dhr', '   303,743%', '1978-12-29', 'Industrials'),
 ('adbe', '   282,732%', '1986-08-13', 'Technology'),
 ('pgr', '   277,837%', '1980-03-17', 'Finance'),
 ('wmt', '   244,497%', '1972-08-25', 'Consumer Discretionary'),
 ('amat', '   169,632%', '1980-03-17', 'Technology'),
 ('orcl', '   166,530%', '1986-03-12', 'Technology')]

In [87]:
%sql SELECT * FROM all_tickers LIMIT 5

 * postgresql://postgres:***@localhost:5432/postgres
5 rows affected.

[('hous', 1826279.62, 1779134.82, 14.39, 86.07, 0.01, 3.38, 0.01, 3.38, 34.2, 8.11, '2012-10-11', '2023-12-29', 'Finance', 'Real Estate', 0.54, -76.29),
 ('tei', 135464.92, 104170.43, 12.97, 72.56, 0.0, 1.36, 0.03, 1.33, 15.0, 5.1, '1993-09-23', '2023-12-29', 'Finance', 'Finance Companies', 0.22, -66.0),
 ('tv', 2281350.51, 1952137.06, 18.0, 111.3, 0.01, 2.67, 0.02, 2.67, 15.94, 3.34, '1993-12-14', '2023-12-29', 'Industrials', 'Broadcasting', 0.42, -79.04),
 ('csx', 18900628.98, 17416075.48, 14.08, 76.87, 0.06, 1.93, 0.07, 1.93, 0.39, 34.67, '1980-11-03', '2023-12-29', 'Industrials', 'Railroads', 0.31, 8762.38),
 ('tait', 21015.13, 81996.59, 272.5, 1724.32, 0.13, 5.36, 0.14, 5.37, 7.38, 3.53, '1995-04-19', '2023-12-29', 'Technology', 'Electronic Components', 0.85, -52.14)]

In [141]:
# Sort sectors by the average growth rate
%sql SELECT "Sector", TO_CHAR("growth_average"::numeric, '9,999.99') || '%' AS "growth_average" FROM (SELECT "Sector", (ROUND(AVG("all_time_growth_perc")::numeric, 2)) AS growth_average FROM all_tickers GROUP BY "Sector" ORDER BY "growth_average" DESC LIMIT 17) AS foo

 * postgresql://postgres:***@localhost:5432/postgres
17 rows affected.

[('Consumer Discretionary', ' 5,854.93%'),
 ('Technology', ' 5,632.40%'),
 ('Industrials', ' 4,533.61%'),
 ('Consumer Staples', ' 3,323.78%'),
 ('Health Care', ' 2,633.91%'),
 ('Telecommunications', ' 2,198.21%'),
 ('Finance', ' 1,349.52%'),
 ('Energy', ' 1,132.10%'),
 ('Utilities', '   660.37%'),
 ('Basic Materials', '   565.10%'),
 ('Real Estate', '   360.81%'),
 ('Healthcare', '   347.00%'),
 ('Financial Services', '   223.88%'),
 ('Communication Services', '   208.88%'),
 ('Consumer Defensive', '   167.90%'),
 ('Miscellaneous', '   151.22%'),
 ('Consumer Cyclical', '     3.54%')]

In [147]:
# Find ten stock with the highest price and their sector
%sql SELECT "Symbol", '$' || ("last_close_price") AS "price", "Sector" FROM all_tickers ORDER BY "last_close_price" DESC LIMIT 10

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('nvr', '$7000.45', 'Consumer Discretionary'),
 ('bkng', '$3547.22', 'Consumer Discretionary'),
 ('azo', '$2585.61', 'Consumer Discretionary'),
 ('cmg', '$2286.96', 'Consumer Discretionary'),
 ('tpl', '$1572.45', 'Energy'),
 ('wtm', '$1505.01', 'Finance'),
 ('mkl', '$1419.9', 'Finance'),
 ('fcnca', '$1418.97', 'Finance'),
 ('mtd', '$1212.96', 'Industrials'),
 ('fico', '$1164.01', 'Consumer Discretionary')]